<!DOCTYPE html>
<html>
<head>
  <title>Blog & Life</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Blog & Life</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <% if !is_homepage? %>
            <li><%= link_to "#{t("navigation.home.name", :default => "Home")}", root_path  %></li>
          <% end %>
          <li><%= link_to "#{t("navigation.blog.name", :default => "Blogs")}", blogs_path  %></li>
          <% if user_signed_in? %>
            <li><%= link_to "#{t("navigation.admin.name", :default => "Admin")}", "#"  %></li>
            <li><%= link_to "#{t("navigation.logout.name", :default => "Logout")}", [ :destroy, :user_session ] , :method=>:delete %></li>
          <% else %>
            <li><%= link_to "#{t("navigation.Login.name", :default => "Login")}", [ :new, :user_session ]  %></li>
          <% end %>
        </ul>
        <span class="alt right welcome"><% if user_signed_in? %> Sign in as <%= link_to current_user.name, "#" %> <% end %></span>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Blog & Life.</p>
          </div>
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
</body>
</html>
